.Container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding-bottom: 2%;

}

.Container hr {
    position: absolute;
    left: 0;
    width: 125px;
    border: 1px solid #4e22db;
}

.Container h1 {
    color: gray;
}